* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFF;
    height: 100vh;
}

html, body{
    overflow-x: hidden;
}

header{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: #d1cece solid;
    grid-area: header;
}

.layout {
  
    display: grid;
    grid:
      "header header" 80px
      "aside main" auto
      / 280px auto;
    gap: 1px;
  }

  aside{
    grid-area: aside;
  }
  
  main{ 
    grid-area: main; 
}

/* Barra Navegacion */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 15px;
    padding-left: 20px;
}

/* Logo */
.logo img{
    width: 138px;
    height: 48px;
}

/* Menu Categorias */
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
    gap: 10px;
    text-decoration: none;
    color: #333;
}

.menu p{
    font-size: 16px;
}

.categories img{
    width: 24px;
    height: 24px;
}

/* Barra de Buscar */
.search-bar {
    display: flex;
    align-items: center;
    border: 1.5px solid #d1cece;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 15px;
  }
  
  .search-bar select, .search-bar input, .search-bar button {
    border: none;
    padding: 8px;
    outline: none;
  }
  
  .search-bar select {
    width: 220px;
    height: 50px;
    border-right: 1.5px solid #d1cece;
    font-size: 16px;
  }
  
  .search-bar input {
    font-size: 14px;
    width: 340px;
    height: 50px;
    flex: 1;
  }

  .search-bar ::placeholder{
    font-size: 16px;
  }
  
  .search-bar button {
    height: 50px;
    background-color: transparent;
    cursor: pointer;
  }

/* Mi Cuenta */
.user-account img{
    width: 30px;
    height: 30px;
}

.account{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    text-decoration: none;
    color: #333;
    gap: 5px;
    font-size: 14px;
}

.account p{
    font-size: 16px;
}

/* Mi Cesta */
.my-cart img{
    width: 20px;
    height: 20px;
}

.shopcart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    text-decoration: none;
    color: #333;
    gap: 5px;
    font-size: 14px;
}

.shopcart p{
    font-size: 16px;
}

.container{
    width: 280px;
    height: 200vh;
    background-color: transparent;
    border-right: #d1cece 1.5px solid;
    padding: 15px;
}

/* FILTRO DE BUSQUEDA */
.filter-bar{
    height: 90px;
}

.filter-bar h3{
    font-size: 16px;
    padding-bottom: 10px;
}

.filter-bar input{
    width: 240px;
    height: 45px;
    padding-left: 3px;
    border-radius: 4px;
    border: #d1cece 1.5px solid;
}

/* FILTRO DE PRECIOS */
.filter-price{
    height: 140px;
    border-bottom: #d1cece 1.5px solid;
}
.filter-price h3{
    font-size: 16px;
    padding-bottom: 20px;
}

.price-inputs{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 30px;
    width: 246px;
    padding: 20px;
}

.price-inputs input{
    width: 90px;
    height: 35px;
    text-align: center;
    border-radius: 3px;
    border: #d1cece 1.5px solid;
}

#set-price-range{
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, #ff4b2b, #ff6000); 
    border-radius: 5px;
    cursor: pointer;
}

#set-price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #ffffff; 
    border: #d1cece 1.5px solid;
    border-radius: 3px;
    cursor: pointer;
}

/* FILTRO DE MARCAS */
.filter-brand{
    height: 270px;
    padding-top: 20px;
    gap: 50px;
    border-bottom: #d1cece 1.5px solid;
}

.filter-brand h3{
    font-size: 16px;
    padding-bottom: 15px;
}

.brand-list{
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    color: #333;
}

.filter-brand .brand-list li {
    display: flex;
    padding-bottom: 15px;
    gap: 10px;
}

.brand-list button{
    border: #d1cece 1.5px solid;
    border-radius: 4px;
    font-size: 10px;
    width: 65px;
    height: 25px;
    background-color: transparent;

}

/* FILTRO MEMORIA RAM */

.filter-ram-memory{
    height: 270px;
    padding-top: 20px;
    gap: 50px;
    border-bottom: #d1cece 1.5px solid;
}

.filter-ram-memory h3{
    font-size: 16px;
    padding-bottom: 15px;
}

.ram-list{
    list-style: none;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.filter-ram-memory .ram-list li {
    display: flex;
    padding-bottom: 15px;
    gap: 10px;
}

.ram-list button{
    border: #d1cece 1.5px solid;
    border-radius: 4px;
    font-size: 10px;
    width: 65px;
    height: 25px;
    background-color: transparent;
}

/* TIPO DE PORTATIL */
.filter-type-laptop{
    height: 270px;
    padding-top: 20px;
    gap: 50px;
    border-bottom: #d1cece 1.5px solid;
}

.filter-type-laptop h3{
    font-size: 16px;
    padding-bottom: 15px;
}

.laptop-type{
    list-style: none;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.filter-type-laptop .laptop-type li {
    display: flex;
    padding-bottom: 15px;
    gap: 10px;
}

.laptop-type button{
    border: #d1cece 1.5px solid;
    border-radius: 4px;
    font-size: 10px;
    width: 65px;
    height: 25px;
    background-color: transparent;
}

/*ESTILOS PRODUCTOS*/

.products{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    gap: 30px;
    padding-top: 10px;
}

.product-card{
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
}

.product-image{
    width: 230px;
    height: 230px;
    object-fit:cover;
}


.product-name{
    font-size: 13.5px;
    width: 250px;
}

.product-price{
    margin: 7px 0;
}

.product-rating{
    margin: 7px 0;
}

.stars{
    color: #ff6000;
}


.product-seller{
    margin: 7px 0;
    font-size: 12px;
}

.add-to-cart{
    border: #d1cece 1.5px solid;
    border-radius: 4px;
    font-size: 10px;
    width: 70px;
    height: 25px;
    background-color: transparent;
}

/*RESPONSIVE*/
@media (max-width: 1024px) {
    .layout {
        grid:
            "header" auto
            "main" auto;
    }
    
    .container {
        display: none;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 0px;
        justify-content: center;
    }

    .product-card {
        width: 300px;
        height: auto;
        padding-bottom: 30px;
    }

    .aside{
        display: none;
    }

    .search-bar{
        width: 460px;
    }

    .categories p{
        display: none;
    }

    .nav-bar{
        justify-content: center;
    }

}

@media (max-width: 430px){
    .menu p{
        display: none;
    }


    .search-bar select{
        display: none;
    }

    .search-bar input{
        width: 10px;
    }

    .fas{
        width: 30px;
    }

    .nav-bar{
        width: 410px;
        justify-content: center;
    }

    .filter-brand{display: none;};
    
    .header{
        width:200px;
    }

    .account p{
        display: none;
    }

    .account{
        width: 10px;
    }

    .my-cart p{
        display: none;
    }

    .shopcart{
        width: 10px;
    }
    .container{
        display: none;
    }
    .aside{
        display: none;
    }

    .header{
        justify-content: space-evenly;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        gap: 40px;
        justify-content: center;
    }

    .product-card {
        width: 150px;
        height: auto;
        padding-bottom: 30px;
    }

    .product-image{
        width: 150px;
        height: 150px;
        object-fit:cover;
    }
    
    
    .product-name{
        font-size: 11px;
        width: 100px;
    }
    
    .product-price{
        font-size: 14px;
    }
    
    .product-rating{
        font-size: 12px;
    }
    

    .product-seller{
        font-size: 10px;
    }
}